* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #ddd;
}
.mainContainer {
  width: 794px;
  min-height: 500px;
  max-height: 1123px;
  margin: 50px auto;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0.306);
  padding: 30px 20px;
}

.header {
  border: 1px solid;
  width: 100%;
  height: 150px;
  display: flex;
}
.content {
  /* border: 1px solid; */
  width: 100%;
  min-height: 300px;
  margin-top: 10px;
  display: flex;
}

.profileİmgContainer {
  
  width: 150px;
  height: 150px;
}
.profileİmgContainer img {
  width: 100%;
}
.profileİnfosContainer {
  background-color: rgb(153, 134, 168);
  height: 100%;
  flex: 1;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.LeftContainer {
  width: 150px;
  height: 100%;
  min-height: 300px;
  

}
.RightContainer {
  min-height: 300px;
  flex: 1;
  background-color: #0077b5;
  
}

a {
  text-decoration: none;
  color: black;
}

.contentContainer {
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

#linkedin{
  color:#0077b5;
}

.leftSectionTitle{
  font-size: 15px;
  margin: 10px 8px;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}